{% load i18n %}
{% load static %}

<div class="language-selector">
    <form action="{% url 'set_language' %}" method="post" class="language-icons">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.path }}">
        {% get_current_language as CURRENT_LANGUAGE %}
        {% get_available_languages as LANGUAGES %}
        {% for lang_code, lang_name in LANGUAGES %}
            <button type="submit" name="language" value="{{ lang_code }}" class="language-icon-btn">
                <img src="{% static 'images/'|add:lang_code|add:'.svg' %}"
                     alt="{{ lang_name }}"
                     title="{{ lang_name }}"
                     class="{% if lang_code == CURRENT_LANGUAGE %}active{% endif %} language-icon">
            </button>
        {% endfor %}
    </form>
</div>
