.publication-item {
  margin-bottom: 2rem;
  border-bottom: 1px solid #eee;
}

.publication-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
}


.publication-title a {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
}

.publication-title a:hover {
  color: #007bff;
}

.publication-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 3fr;
  gap: 2rem;
  align-items: start;
}

.publication-image img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

/* Make it responsive for mobile devices */
@media (max-width: 768px) {
  .publication-grid {
      grid-template-columns: 1fr;
      gap: 1rem;
  }
}
