{% load custom_filters %}

<div class="projects-grid">
  {% for project in projects %}
      <div class="project-card">
          <div class="project-card-header">
              {% if project.image %}
                  <a href="{% if project|isinstanceof:'ResearchLine' %}{% url 'research_detail' project.pk %}{% else %}{% url 'project_detail' project.pk %}{% endif %}">
                      <img src="{{ project.image.url }}" alt="{{ project.title }}" class="project-image" style="width: 300px; height: auto;">
                  </a>
              {% endif %}
              <h3>
                  <a href="{% if project|isinstanceof:'ResearchLine' %}{% url 'research_detail' project.pk %}{% else %}{% url 'project_detail' project.pk %}{% endif %}">{{ project.title }}</a>
              </h3>
          </div>
          <div class="project-card-body">
              <p class="project-date">
                  {{ project.date|date:"M Y" }}
              </p>
          </div>
          <div class="project-card-footer">
              {% if project.github_link %}
                  <a href="{{ project.github_link }}" target="_blank" class="project-link">GitHub</a>
              {% endif %}
              {% if project.live_link %}
                  <a href="{{ project.live_link }}" target="_blank" class="project-link">Video</a>
              {% endif %}
          </div>
      </div>
  {% empty %}
      <p>No projects available yet.</p>
  {% endfor %}
</div>


