{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% block title %}{% trans "My Personal Site" %}{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="language-links">
                {% include "partials/language_selector.html" %}
            </div>
        </div>

        <div class="site-title">
            <h1>Eduardo Castello</h1>
            <p class="subtitle">{% trans "Postdoctoral research fellow at MIT" %}</p>
        </div>

        <nav class="main-nav">
            <a href="{% url 'about' %}">{% trans "ABOUT ME" %}</a>
            <a href="{% url 'work' %}">{% trans "WORK" %}</a>
            <a href="{% url 'education' %}">{% trans "EDUCATION" %}</a>
            <a href="{% url 'talks' %}">{% trans "TALKS" %}</a>
            <a href="{% url 'publications' %}">{% trans "PUBLICATIONS" %}</a>
            <a href="{% url 'blog' %}">{% trans "BLOG" %}</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© {% now "Y" %} {% trans "Eduardo Castello" %}</p>
    </footer>
    {% block extra_js %}{% endblock %}
</body>
</html>
