{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% block title %}{% trans "My Personal Site" %}{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const nav = document.querySelector('.main-nav');
            const navTop = nav.offsetTop;  // Get initial position of nav

            function handleScroll() {
                if (window.scrollY > navTop) {
                    nav.classList.add('fixed-nav');
                    nav.classList.add('scrolled');
                } else {
                    nav.classList.remove('fixed-nav');
                    nav.classList.remove('scrolled');
                }
            }

            window.addEventListener('scroll', handleScroll);
        });
    </script>
</head>
<body>
    <header>
        <div class="site-title">
            <div class="title-container">
                <div class="title-text">
                    <h1>{{ site_settings.title }}</h1>
                    <p class="subtitle">{{ site_settings.subtitle }}</p>
                </div>
            </div>
        </div>
    </header>

    <nav class="main-nav">
        <a href="{% url 'about' %}">{% trans "ABOUT ME" %}</a>
        <a href="{% url 'work' %}">{% trans "WORK" %}</a>
        <a href="{% url 'education' %}">{% trans "EDUCATION" %}</a>
        <a href="{% url 'projects' %}">{% trans "PROJECTS" %}</a>
        <a href="{% url 'talks' %}">{% trans "TALKS" %}</a>
        <a href="{% url 'publications' %}">{% trans "PUBLICATIONS" %}</a>
        <a href="{% url 'contact' %}">{% trans "CONTACT" %}</a>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© {% now "Y" %} {% trans "Eduardo Castello" %}</p>
    </footer>
    {% block extra_js %}{% endblock %}
</body>
</html>
