{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}My Personal Site{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const nav = document.querySelector('.main-nav');
            const navTop = nav.offsetTop;  // Get initial position of nav

            function handleScroll() {
                if (window.scrollY > navTop) {
                    nav.classList.add('fixed-nav');
                    nav.classList.add('scrolled');
                } else {
                    nav.classList.remove('fixed-nav');
                    nav.classList.remove('scrolled');
                }
            }

            window.addEventListener('scroll', handleScroll);
        });
    </script>
</head>
<body>
    <header>
        <div class="site-title" style="background-image: url('{% if site_settings.banner_image %}{{ site_settings.banner_image.url }}{% else %}{% static 'images/grey_dark_banner.jpg' %}{% endif %}');
            background-size: contain;
            background-position: center;
            ">
            <div class="title-container">
                <div class="title-text">
                    <h1>{{ site_settings.title }}</h1>
                    <p class="subtitle">{{ site_settings.subtitle }}</p>
                </div>
            </div>
        </div>
    </header>

    <nav class="main-nav">
        <a href="{% url 'about' %}" {% if request.path == '/' %}class="active"{% endif %}>ABOUT</a>
        <a href="{% url 'experience' %}" {% if request.path == '/experience/' %}class="active"{% endif %}>EXPERIENCE</a>
        <a href="{% url 'projects' %}" {% if request.path == '/projects/' %}class="active"{% endif %}>PROJECTS</a>
        <a href="{% url 'talks' %}" {% if request.path == '/talks/' %}class="active"{% endif %}>TALKS</a>
        <a href="{% url 'publications' %}" {% if request.path == '/publications/' %}class="active"{% endif %}>PUBLICATIONS</a>
        <a href="{% url 'contact' %}" {% if request.path == '/contact/' %}class="active"{% endif %}>CONTACT</a>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© {% now "Y" %} Eduardo Castello</p>
    </footer>
    {% block extra_js %}{% endblock %}
</body>
</html>
