{% extends 'base.html' %}
{% load static %}
{% load markdown_extras %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block title %}About Me{% endblock %}

{% block content %}
    <div class="chevron-header">
        <h1>About me..</h1>
        <span class="header-subtitle">CV and some details about me</span>
    </div>

    <div class="about-content">
        <div class="profile-section">
            <div class="profile-image">
                <img src="{% static 'images/Headshot2021.jpg' %}" alt="Profile Photo">
            </div>

            <div class="profile-text">
                {% if intro_text %}
                    {{ intro_text.text|markdown|safe }}
                {% endif %}

                <div class="profile-links">
                    {% if intro_text.cv_file %}
                        <a href="{{ intro_text.cv_file.url }}" class="download-btn" download>Download CV</a>
                    {% else %}
                        <a href="#" class="download-btn">Download CV</a>
                    {% endif %}
                    <a href="https://www.linkedin.com/in/eduardocastelloferrer" class="linkedin-btn">
                        <img src="{% static 'images/linkedinlogo.svg' %}" alt="LinkedIn" style="width: 40px; height: 40px;">
                    </a>
                </div>
            </div>
        </div>

{% endblock %}
