{% extends 'base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}
    <div class="cal-embed-container">
        <div class="cal-inline-widget" data-cal-link="eduardo.castello/meeting-30-mins"></div>
    </div>

    <script>(function(C,A,L){let p=function(a,ar){a.q.push(ar)};let d=C.document;C.Cal=C.Cal||function(){let cal=C.Cal;let ar=arguments;if(!cal.loaded){cal.ns={};cal.q=cal.q||[];d.head.appendChild(d.createElement("script")).src=A;cal.loaded=true}if(ar[0]===L){const api=function(){p(api,arguments)};const namespace=ar[1];api.q=api.q||[];typeof namespace==="string"?(cal.ns[namespace]=api)&&p(api,ar):p(cal,ar);return}p(cal,ar)};C.Cal.ns={}})(window,"https://app.cal.com/embed/embed.js","init");
        Cal("init", {origin:"https://cal.com"});

        Cal("inline", {
        elementOrSelector: ".cal-inline-widget",
        calLink: "eduardo.castello/meeting-30-mins",
        });
    </script>
{% endblock %}
