{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/project_detail.css' %}">
{% endblock %}

{% block title %}{{ project.title }}{% endblock %}

{% block content %}
    {% if project.image %}
        <div class="project-banner">
            <img src="{{ project.image.url }}" alt="{{ project.title }}">
            <div class="banner-overlay">
                <div class="banner-overlay-text">
                    <p>{{ project.start_date|date:"m-Y" }}</p>
                    <h1>{{ project.title }}</h1>
                </div>
            </div>
        </div>
    {% else %}
        <p>Start Date: {{ project.start_date }}</p>
        <h1>{{ project.title }}</h1>
    {% endif %}

    <div class="project-content">
        <div class="content-card">
            <div class="content-card-video">
                <iframe width="560" height="315" src="{{ project.video_url }}" title="Excel Unusual Roller Coaster" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="content-card-text">
                <p>{{ project.description }}</p>
                <div class="content-card-links">
                {% if project.github_link %}
                    <p><a href="{{ project.github_link }}">GitHub Repository</a></p>
                {% endif %}
                {% if project.live_link %}
                    <p><a href="{{ project.live_link }}">Live Project</a></p>
                {% endif %}
                </div>
            </div>
        </div>

        {% if project.gallery_images.exists %}
            <div class="gallery-grid">
                {% for image in project.gallery_images.all %}
                    <div class="gallery-item">
                        <img src="{{ image.image.url }}" alt="{{ image.caption|default:project.title }}">
                        {% if image.caption %}
                            <p class="caption">{{ image.caption }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}


        <p>Technologies: {{ project.technologies }}</p>

        {% if project.publications.exists %}
            <h3>Related Publications</h3>
            <ul>
                {% for publication in project.publications.all %}
                    <li>
                        {% if publication.link %}
                            <a href="{{ publication.link }}">{{ publication.title }}</a>
                        {% elif publication.doi %}
                            <a href="https://doi.org/{{ publication.doi }}">{{ publication.title }}</a>
                        {% else %}
                            {{ publication.title }}
                        {% endif %}
                        - {{ publication.journal }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div>{{ project.content|safe }}</div>
    </div>
{% endblock %}
