{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/publications.css' %}">
{% endblock %}

{% block title %}Publications{% endblock %}

{% block content %}
<div class="search-container">
  <input type="search"
         name="search"
         placeholder="Search publications..."
         hx-get="{% url 'publications' %}"
         hx-trigger="input changed delay:500ms"
         hx-target=".publications-list"
         hx-params="*"
         value="{{ request.GET.search }}">
</div>

<div class="publications-grid"
  hx-get="{% url 'publications' %}"
  hx-trigger="intersect once"
  hx-swap="outerHTML"
  hx-target="this">
{% include 'main/partials/publication-list.html' %}
</div>
{% endblock %}
