{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/talks.css' %}">
{% endblock %}

{% block title %}Talks{% endblock %}

{% block content %}
    <div class="chevron-header">
        <h1>Talks and Presentations</h1>
    </div>
    <div class="talks-content">
        <div class="video-grid">
            <iframe width="900" height="506" src="https://www.youtube.com/embed/N7nioCLMKKQ" title="When access is more important than ownership: signing contracts with robots | Eduardo Castello" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="900" height="506" src="https://www.youtube.com/embed/ET03WdigI6M" title="“Datos, inteligencia artificial y complejidad. Una visión de la sociedad del futuro.”" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="900" height="506" src="https://www.youtube.com/embed/IaKAu-bhTqs" title="Trustable autonomy: creating interfaces between human and robot societies" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="900" height="506" src="https://www.youtube.com/embed/FJaQFVAOi7U" title="MIT Connection Science - Eduardo Castello" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}
